   /* Sticky footer styles
-------------------------------------------------- */
   
   html {
       position: relative;
       min-height: 100%;
   }
   
   body {
       height: 100%;
       /* Margin bottom by footer height */
       margin-bottom: 30px;
   }
   
   .footer {
       position: absolute;
       bottom: 0;
       width: 100%;
       /* Set the fixed height of the footer here */
       height: 30px;
       background-color: #f5f5f5;
   }
   
   .canvas-container {
       width: 100%;
       text-align:center;
       /*max-height: 60vh;*/
       /* border: 5px solid yellow; */
   }
   
   canvas {
       border: 1px solid #000;
       margin: 0 auto;
   }
   
   .chat-display {
       height: 20vh;
       overflow-y: scroll;
       overflow-x: hidden;
   }